
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);

    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray: hsl(0, 0%, 95%);

    --Lexend-Deca: 'Lexend Deca', sans-serif;
    --Big-Shoulders-Display: 'Big Shoulders Display', cursive;
}
body{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main{
    display: grid;
    grid-template-columns: repeat(3,minmax(200px,300px));
    /* grid-template-rows: 300px; */
    padding: 20px;

}
h1{
    font-family: var(--Big-Shoulders-Display);
    color: var(--Very-light-gray);
    text-transform: uppercase;
    font-weight: 700;
    margin: 20px 0;
    font-size: 2em;
}
p{
    font-family: var(--Lexend-Deca);
    color: var(--Transparent-white);

}
section#sedans{
    background-color: var(--Bright-orange);
    padding: 35px;
    border-radius: 5px 0 0 5px;
}
section#suvs{
    background-color: var(--Dark-cyan);
    padding: 35px;
}
section#luxury{
    background-color: var(--Very-dark-cyan);
    padding: 35px;
    border-radius: 0 5px 5px 0;

}
section a{
    background-color: var(--Very-light-gray);
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    display:block;
    margin-top: 100px;
    width: fit-content;
}
section#sedans a{
    color: var(--Bright-orange);
}
section#suvs a{
    color: var(--Dark-cyan);
}
section#luxury a{
    color: var(--Very-dark-cyan);
}

@media(max-width:600px){
    main{
        display: grid;
        grid-template-columns: 1fr;
        /* grid-template-rows: 300px; */
        padding: 20px;
    }
    section#sedans{
        background-color: var(--Bright-orange);
        padding: 35px;
        border-radius: 5px 5px 0 0;
    }
    section#suvs{
        background-color: var(--Dark-cyan);
        padding: 35px;
    }
    section#luxury{
        background-color: var(--Very-dark-cyan);
        padding: 35px;
        border-radius: 0 0 5px 5px;
    
    }
}